# Semana 03
Jean Carlos Corrales Colque

# Temas
1. Colección de datos
2. Estructuras decisivas y Estructuras Repetitivas
3. Clases y objetos
4. Funciones

# 1. Colecciones

In [2]:
# 1.1. Listas
# Es una colección dew elemtntos que puede ser ordenada, modificada,etc...
# Se identifica por los corchetes
# Ejemplo:
aula = ['Bernaola','Chipana','Gomez','Navarro']
print(aula)

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [3]:
# Tambien se puede imprimir con solo mencionar la lista
aula

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [4]:
# Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Bernaola
Chipana

In [5]:
print(aula[2])
print(aula[3])

Gomez
Navarro

In [6]:
# Puedo asignar un valor a una posición de la lista
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [7]:
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro']

In [8]:
# Para agregar un elemento utilizamos append
aula.append("Hermitaño")
aula.append("Gomez")
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [9]:
# Para eliminar elementos utilizamos remove[]
aula.remove("Bernaola")
aula

['Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [10]:
# Para obtener el tamaño utilizamos len()
len(aula)

5

In [11]:
# Para recorrer podemos utilizar una estructura repetitiva
for alumno in aula:
    print(alumno)

Chavez
Gomez
Navarro
Hermitaño
Gomez

In [12]:
# Para invertir la lista utilizamos reverse()
# Invertir No significa ordenar en forma descendente sin invertir
# la lista
aula.reverse()
aula

['Gomez', 'Hermitaño', 'Navarro', 'Gomez', 'Chavez']

In [13]:
# Para ordenar una lista utilizamos sort()
aula.sort()
aula

['Chavez', 'Gomez', 'Gomez', 'Hermitaño', 'Navarro']

In [14]:
# 1.2 Tuplas
# Es una colección de elementos ordenada ( Ordenado significa que tiene un indice)
# que no se pueden modificar, es inalterable.
# No se pueden agregar elementos ni elininar.
# Se identifica por los parantesis.
tupla_aula = ('Bernaola','Chipana','Gomez','Navarro')
tupla_aula

('Bernaola', 'Chipana', 'Gomez', 'Navarro')

In [15]:
# Se puede extraer un elemento por su posicion
tupla_aula[2]

'Gomez'

In [16]:
# Para saber la cantidad de elementos de una tupla utilizamos len()
len(tupla_aula)

4

In [17]:
# 1.3 Conjuntos
# Es una colección d elementos que no está ordenado
# (Significa que no tiene un índice)
conjunto_aula = {'Bernaola','Chipana','Gomez','Navarro'}
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro'}

In [18]:
# Se puede recorrer utilizando una estructura repetitiva
# Ejemplo: for
for alumno in conjunto_aula:
    print(alumno)

Navarro
Bernaola
Chipana
Gomez

In [21]:
# Observación: No se peude accceder por posición pues no considera
# indexación
# Por ejemplo:
 Conjunto_aula[2] devolvería error

IndentationError: unexpected indent (589243443.py, line 4)

In [22]:
# Para saber la cantidad de elementos utilizamos len()
len(conjunto_aula)

4

In [23]:
# Para agregar utilizamos la función add()
conjunto_aula.add("Palomino")
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro', 'Palomino'}

In [25]:
# Para eliminar elementos utilizamos la función remove()
conjunto_aula.remove("Chipana")

In [26]:
conjunto_aula

{'Bernaola', 'Gomez', 'Navarro', 'Palomino'}

In [27]:
# 1.4. Diccionarios 
# Es una colección de elemtnos, que están indexados,
#no estan ordenados y se pueden modificar
# Son escritos entre llaves y están formados por pares de elementos
#  INDICE:VALOR
diccionario_aula = {2:'Bernaola','1':'Chipana','dos':'Gomez','3':'Navarro','0':'Palomino'}
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino'}

In [29]:
# Del Diccionario: diccionario_aula extraer el valor cuyo índice sea cero
diccionario_aula['0']

'Palomino'

In [30]:
diccionario_aula['1']

'Chipana'

In [31]:
# Para añadir un par de elementos en el diccionario hacemos:
diccionario_aula ['20'] = "Vilca"
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [32]:
# Para eliminar un valor se utiliza pop()
# Por ejemplo,eliminar el elemento de índice dos.ejemplo: Para eliminar a 
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [33]:
# Tambien se puede eliminar utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Chipana', '3': 'Navarro', '0': 'Palomino', '20': 'Vilca'}

In [34]:
# Para recorrer todos los elementos podemos utilizar for
# En este ejemplo devuelve los índices
for indice in diccionario_aula:
    print(indice)

1
3
0
20

In [35]:
# Para obtener el indice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice,valor)

1 Chipana
3 Navarro
0 Palomino
20 Vilca

In [36]:
#Ejercicio: # 1.5. Ejercicio # Dado una lista de 
#[BERNAL, BERNAOLA, CABALLERO, CALDERON, CARRASCO, CENTENO, CHALQUE, CHAVEZ, CONDORI, CRUZ, PALACIOS, PALOMINO, QUISPE, RAMOS, RODAS, SILVERA, TALAVERA, TINEO, VICTORIO, VILCA, ZEA] 
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista
# tiempo: 12 minutos

In [37]:
aula = ['BERNAL','BERNAOLA', 'CABALLERO', 'CALDERON', 'CARRASCO', 'CENTENO', 'CHALQUE', 'CHAVEZ', 'CONDORI', 'CRUZ', 'PALACIOS', 'PALOMINO', 'QUISPE', 'RAMOS', 'RODAS', 'SILVERA', 'TALAVERA', 'TINEO', 'VICTORIO', 'VILCA', 'ZEA']
aula

['BERNAL',
 'BERNAOLA',
 'CABALLERO',
 'CALDERON',
 'CARRASCO',
 'CENTENO',
 'CHALQUE',
 'CHAVEZ',
 'CONDORI',
 'CRUZ',
 'PALACIOS',
 'PALOMINO',
 'QUISPE',
 'RAMOS',
 'RODAS',
 'SILVERA',
 'TALAVERA',
 'TINEO',
 'VICTORIO',
 'VILCA',
 'ZEA']

In [39]:
alumno = input ("Ingrese apellido")
if alumno in aula:
    print("Se encuentra en la lista")
else:
    print("No se encuentra")

Ingrese apellido ZEA

Se encuentra en la lista

In [41]:
alumno = input("Ingrese apellido")
for i in alumno:
    if i in aula:
        print("Se encuentra en la lista")
    else:
        print("No se encuentra")

Ingrese apellido ZEA

No se encuentra
No se encuentra
No se encuentra